test_scripts_DELETE_LATER
extraction_outputs/conformations_smiles_iteration_1/
extraction_outputs/conformations_smiles_iteration_2/
docking_optimization_experiments/
results/
test_print_numbers/
SDF_docking_checks/
test.ipynb
Testing.ipynb
docking_run_jobs_train_iteration_1.log
docking_run_jobs_valid_iteration_1.log
output_phase_3_vina.txt
Analysis-Copy1.ipynb