test_scripts_DELETE_LATER
extraction_outputs/conformations_smiles_iteration_1/
extraction_outputs/conformations_smiles_iteration_2/
docking_optimization_experiments/
results/
test_print_numbers/
SDF_docking_checks/
test.ipynb
Testing.ipynb
Butina.ipynb
docking_run_jobs_train_iteration_1.log
docking_run_jobs_valid_iteration_1.log
output_phase_3_vina.txt
Analysis-Copy1.ipynb
slurm-*
smiles.csv
id_score.csv
clustering/*
!clustering/Clustering_and_downstream_analysis.ipynb
!clustering/prepare_selected_molecules.sh
!clustering/process_clusters_and_singletons.sh
!clustering/fred_dock_conformations.sh
!clustering/vina_dock_conformations.sh
!clustering/retry_downloads.sh
!clustering/prepare_conformations_for_docking.sh
!clustering/analyse_docked_compounds.py
clwriter_0.sdf
clwriter.sdf
checks_smiles_gen/*
TDP43_312.csv
writer.sdf